<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Cookie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- jQuery Cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>


    <!-- TETHER (needed for bootstrap's tooltips) -->
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Questrial|Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <div id="header" class="container heavy-drop-shadow ">
        <div class="jumbotron-fluid">
            <h1 class="text-center">
                <%= name %>
            </h1>
            <h3 class="text-center">Amount:
                <%= count %>
            </h3>
        </div>
    </div>
    <div class="container light-drop-shadow p-2" style="background:white">
        <p class="lead text-center ">This whole page is dedicated to
            <%= name %> cookies</p>
        <div class="container d-flex justify-content-center">
            <button id="eatButton" class="btn-primary p-1 my-2" style="width:50%">Eat All The Cookies</button>
        </div>
    </div>

</body>
<script type="text/javascript" src="javascripts/main.js"></script>

</html>