<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Hello Node</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- jQuery Cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>


    <!-- TETHER (needed for bootstrap's tooltips) -->
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/54580a0fe6.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Questrial|Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <!-- jumbotron header -->
    <div class="container">
        <div id="header" class="jumbotron-fluid heavy-drop-shadow">
            <h1 class="text-center">Hello Node</h1>
            <!--<h2 class="text-center" ><i class="fa fa-code" aria-hidden="true"></i></h2>-->
            <div class='d-flex justify-content-center'>
            <img id="nodeIcon" src='https://raw.githubusercontent.com/github/explore/fd96fceccf8c42c99cbe29cf0f8dcc4736fcb85a/topics/nodejs/nodejs.png'/>
        </div>
    </div>
    <!-- main content -->
    <div id="mainContentWrapper" class="container">
        <div id="main-content-row" class="row no-gutters heavy-drop-shadow">
            <div class="col-md light-drop-shadow">
                <p class="lead sub-header text-center">Client's HTTP Header Data</p>
                <hr class="data-spacer-heavy light-drop-shadow"></hr>
                <p class="text-center data-text">HTTP Method: <%= method %> </p>
                <hr></hr>
                <p class="text-center  data-text">IPv6 Address: <%= clientIp %> </p>
                <hr></hr>
                <p class="text-center  data-text">Referer: <%= referer %> </p>
                <hr></hr>
                <p class="text-center  data-text">User Agent: <%= userAgent %> </p>
                <hr></hr>
            </div>
            <div class="col-md">
                <div class="cookie-row-wrapper">
                    <div class="row cookie-row-1 no-gutters light-drop-shadow">
                        <p class="lead sub-header text-center">Cookie Jar</p>
                        <hr class="data-spacer-heavy light-drop-shadow"></hr>
                    </div>
                </div>
                <div class="cookie-row-wrapper mt-4">
                    <div class="row cookie-row-2 no-gutters light-drop-shadow">
                        <p class="lead sub-header text-center">Bake New Cookie</p>
                        <hr class="data-spacer-heavy light-drop-shadow"></hr>
                        <form id="bakeCookieForm" class='mx-auto' action="/" method="POST" class="p-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputName" placeholder="Enter name of cookie" required>
                            </div>
                            <div id="button-container">
                                <button type="submit" class="btn-sm btn-primary mb-3">Bake</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="cookie-row-wrapper mt-4">
                    <div class="row cookie-row-2 no-gutters light-drop-shadow">
                        <p class="lead sub-header text-center">Most recent POST request received</p>
                        <hr class="data-spacer-heavy light-drop-shadow"></hr>
                        <p class="text-center">
                            <%= postData %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="javascripts/main.js"></script>

</html>