html,
body {
    background-color: #EFECE7;
    font-family: 'Questrial', sans-serif;
    height: 100%;
}

h1,
h2 {
    font-size: 56px;
    /* font-family: 'Bangers', cursive; */
    color: #333333;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.33);
}

h3 {
    font-size: 36px;
    color: #333333;
}

#nodeIcon {
    height: 75px;
    background: none;
}

#mainContentWrapper {
  padding: 0;
}

p {
    width: 100%;
    margin: 0px;
    padding: 10px;
    text-shadow: 0px 2px 1px rgba(198, 198, 198, 0.5);
}

.cookie-item {
    width: auto;
}

.cookie-item:hover {
  color: rgba(136, 189, 110, 1);
}

#header {
    background: rgba(190, 255, 158, 1);
    background: -moz-linear-gradient(top, rgba(190, 255, 158, 1) 0%, rgba(136, 189, 110, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(190, 255, 158, 1)), color-stop(100%, rgba(136, 189, 110, 1)));
    background: -webkit-linear-gradient(top, rgba(190, 255, 158, 1) 0%, rgba(136, 189, 110, 1) 100%);
}

.jumbotron-fluid {
    padding: 20px 0;
    margin-bottom: 30px;
}

.sub-header {
    background: rgba(224, 224, 224, 1);
    background: -moz-linear-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(200, 200, 200, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(224, 224, 224, 1)), color-stop(100%, rgba(200, 200, 200, 1)));
    background: -webkit-linear-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(200, 200, 200, 1) 100%);
}

#main-content-row {
    background: #F8F8F8;
}

.col-md {
    margin: 11px;
}

.data-spacer-heavy {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
    height: 2px;
    background: lightgrey;
}

form {
    width: 50%;
}

input {
    text-align: center;
    width: 50%;
}

#button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.btn-primary {
    width: 100%;
    background: rgba(112, 123, 198, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(112, 123, 198, 1) 0%, rgba(112, 128, 177, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(112, 123, 198, 1)), color-stop(100%, rgba(112, 128, 177, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(112, 123, 198, 1) 0%, rgba(112, 128, 177, 1) 100%);
}

.cookie-item {
    transition: background 0.5s ease;
}


/* Style Classes */

.heavy-drop-shadow {
    box-shadow: 0px 12px 30px 0px rgba(125, 125, 125, 0.95);
    -webkit-box-shadow: 0px 12px 30px 0px rgba(125, 125, 125, 0.95);
}

.light-drop-shadow {
    box-shadow: 0px 3px 25x 0px rgba(200, 200, 200, 0.9);
    -webkit-box-shadow: 0px 3px 25px 0px rgba(200, 200, 200, 0.9);
}

.inset-drop-shadow {
    box-shadow: inset 0px 0px 45px -2px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: inset 0px 0px 45px -2px rgba(50, 50, 50, 0.75);
}
